body {

    font-family: 'Hanken Grotesk', sans-serif;

}

@font-face {
    font-family: 'HankenGrotesk';
    src: url('fonts/HankenGrotesk-VariableFont_wght.ttf');
}

.main-container {
    width: 730px;
    height: 520px;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;



}




.right-container {
    flex: 1;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.right-container h1 {
    text-align: left;
    margin-left: 18px;
}

.point-card-caption {
    display: flex;
}

.point-card {
    border-radius: 10px;
    width: -webkit-fill-available;
    height: 55px;
    margin: 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.point-card-icon {
    margin-left: 15px;
    margin-right: 15px;
}

.point-card-value {
    margin-right: 15px;
}

.curent-point {
    color: #2B2D41;
}

.total-point {
    text-align: right;
    color: grey;
}

.card-pink {
    color: hsl(0, 100%, 67%);
    background-color: #FFF5F6;
}

.card-yellow {
    color: hsl(39, 100%, 56%);
    background-color: #FEFBF2;
}

.card-green {
    color: hsl(166, 100%, 37%);
    background-color: #F2FAFA;
}

.card-blue {
    color: hsl(234, 85%, 45%);
    background-color: #F3F3FD;
}

.round {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.big-num {
    font-weight: 800;
    font-size: 70px;
    margin: 0px;
}

.small-num {
    color: gainsboro;
    margin: 0px;
}

.great-caption {
    font-weight: 800;
    font-size: 32px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.scored-caption {
    color: gainsboro;
    width: 245px;
    margin: auto;

}

.btn {
    width: -webkit-fill-available;
    height: 55px;
    background-color: #303B59;
    color: white;
    border-radius: 30px;
    outline: none;
    border: none;
    text-align: center;
    margin: 35px 18px 45px 18px;
    font-weight: 800;
    font-size: 18px;

}

.btn:hover {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));

    cursor: pointer;
}

.left-container {
    flex: 1;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));

    border-radius: 30px;
    text-align: center;
    color: white;
    height: inherit;
}

.left-container h1 {
    color: gainsboro;

}

h1 {
    margin-top: 45px;
}

/* monitors and laptops */
@media (min-width: 768px) {
    .main-container {
        margin-top: 10%;
    }
}

/* mobile */
@media (max-width: 768px) {
    body {
        margin: 0px;
    }

    .main-container {

        height: auto;
        width: auto;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .left-container {
        width: 100%;
        height: 350px;
        border-radius: inherit;
    }

    .left-container h1 {
        margin-top: 30px;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 30px;

    }

    .round {
        margin-top: 0px;
        width: 135px;
        height: 135px;
    }

    .great-caption {
        font-weight: 700;
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .scored-caption {
        font-size: 16px;
        text-align: justify;
        width: 255px;
    }

    .big-num {
        font-size: 55px;

    }

    .right-container {
        width: 100%;
        height: auto;
        border-radius: inherit;
    }

    .right-container h1 {
        font-size: 18px;
    }
}